body{
    background-color: aqua;

}
.login-container{
    border: 2px solid;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 19vh;
}

.login-link{
    display: inline-block;
    width: 99.9%;
    height: 55px;
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 22px;
    color: black;
}